.footer-main-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 300px;
  width: 90%;
  padding: 5%;
  background-image: linear-gradient(120deg, #0a1684, #b3dee5);
}

.footer-sub-container-1 {
  width: 40%;
  height: 100%;
  display: inline-block;
  float: left;
  border-right: 1px white solid;
}

.footer-sub-container-2 {
  width: 59%;
  height: 100%;
  display: inline-block;
}

.contact-row {
  height: 80px;
  width: 90%;
  border-bottom: 1px white solid;
  padding: 5%;
}

.contact-row-content {
  font-size: 14px;
  line-height: 15px;
  color: white;
}
.main-tag {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 15px;
}

/* .chat {
  background-color: red;
  padding: 12px 16px;
  border-radius: 50rem;
  border-bottom-right-radius: 0%;
  position: relative;
}

.chat ::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  width: 20px;
  height: 10px;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
} */
