.banner-container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    scroll-snap-type: x mandatory;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, .3));
}

.banner-container::-webkit-scrollbar {
    display: none;
}

.banner-container-image {
    height: 150px;
    min-width: 80%;
    position: relative;
    margin-left: 30px;
    background-size: contain;
    border-radius: 10px;
    overflow: hidden;
    top: 0%;
    left: -15px;
    scroll-snap-align: center;
    scale: 1;
}

.banner-container-image img {
    height: 100%;
    width: 100%;
}

.main-tags {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 5px;
    /* color: red; */
}

.under-line {
    height: 5px;
    width: 70px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #0a1684, #B3DEE5);
    display: block;
    filter: drop-shadow(5px 6px 4px rgba(10, 22, 132, .3));
    margin: 10px auto 20px;
}